@import "colors";

.contact{
    height: 100vh;
    width: 100%;
    background-color: $second;
    display: flex;
    justify-content: center;
    align-items: center;

    main{
        background-color: $first;
        height: 30rem;
        width: 70%;
        padding: 3rem;
        border-radius: 0 200px 200px 0;

        form{
            margin: 2rem 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div{
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                margin:0.5rem;
                // background-color: red;
            }

            .message{
                height: 6rem;
            }

            label{
                font: 400 1.2rem $text1;
                width: 20%;
                margin: 0 1rem;
            }

            input{
                align-self: stretch;
                width: 80%;
                padding: 1rem;
                border-radius: 5px;
                border: 1px solid rgba(123,123,123,0.6);
                outline: none;
            }
            
            textarea{
                align-self: stretch;
                width: 80%;
                padding: 1rem;
                border-radius: 5px;
                border: 1px solid rgba(123,123,123,0.6);
                outline: none;
            }
        }

        button{
            margin: 2rem 0;
            padding: 0.7rem;
            border: none;
            border-radius: 5px;
            color: $first;
            background-color: $third;
            width:30%;
            font: 500 1rem $text1;

            &:hover{
                background-color: $second;
                cursor: pointer;
            }
        }
    }
}